@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.figmaToDuda {
    width: 116px;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background: #f66035;
    margin-left: 11px;
}